#parent-container {
  display: flex;
}

.column {
  float: left;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.column#questions-column {
  padding: 20px;
  background-color: #6EC4DF;
  width: 40%;
  margin-left: 20px;
}

.column#results-column {
  padding: 30px;
  background-color: white;
  width: 40%;
}

.column#results-column.answered {
  width: 40%;
  background-color: #6EC4DF;
}

.column#questions-column.answered {
  width: 40%;
}
