#title {
  width: 100%;
  padding: 20px;
}

.column {
  float: left;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.column#questions-column {
  padding: 20px;
  background-color: #6EC4DF;
  width: 40%;
  margin-left: 20px;
}

.column#results-column {
  padding: 30px;
  background-color: white;
  width: 40%;
}

.column#results-column.answered {
  width: 40%;
  background-color: #6EC4DF;
}

.column#questions-column.answered {
  width: 40%;
}

#title {
  background-color: #2B2D42;
  color: white;
}

section {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
}

section.answered {
  background-color: #6edfc2;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 4px;
  text-decoration: underline;
}

input {
  margin-right: 5px;
  margin-bottom: 10px;
}

a {
  color: #0645AD;
  cursor: pointer;
  text-decoration: underline;
}

a.show-more-options {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}

li {
  margin-left: 20px;
}

p.question {
  margin-bottom: 10px;
  font-weight: bold;
}

#parent-container {
  display: flex;
}

.result {
  font-weight: bold;
}
