* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#title {
  width: 100%;
  padding: 20px;
}

* {
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

#results-column h1 {
  font-weight: normal;
}

.column {
  float: left;
  padding: 20px;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.column#questions-column {
  background-color: #6EC4DF;
  width: 50%;
  margin-left: 20px;
}

.column#results-column {
  background-color: white;
  width: 30%;
}

.column#results-column.answered {
  width: 50%;
  background-color: yellow;
}

.column#questions-column.answered {
  width: 30%;
  background-color: white;
}

#title {
  background-color: #2B2D42;
  color: white;
}

section {
  margin-bottom: 30px;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 4px;
  text-decoration: underline;
}

input {
  margin-right: 5px;
}

a {
  color: #0645AD;
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}

a.show-more-options {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}

li {
  margin-left: 20px;
}

p.question {
  font-weight: bold;
  margin-bottom: 10px;
}

#parent-container {
  display: flex;
}

.result {
  font-weight: bold;
}
