section {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
}

section.answered {
  background-color: #6EDFC2;
}

input {
  margin-right: 5px;
  margin-bottom: 10px;
}

a {
  color: #0645AD;
  cursor: pointer;
  text-decoration: underline;
}

a.show-more-options {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}

li {
  margin-left: 20px;
}
